body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.box{
    border:none;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.error-message{
    display: none;
    font-size: 15px;
    color: rgb(207, 4, 4);
}